/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding: 100px 0;
  font-family: var(
    --font-main,
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif
  );
  background-color: var(--themes-background, #fff);
  background-image: var(
    --page-bg,
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text, 410);
}

.header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-inline: auto;
  margin-block-end: 98px;
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  outline: 2px solid var(--themes-main-color, #000);
  font-family: var(--font-accent, "Press Start 2P", fantasy);
  background-color: var(--themes-background, #fff);
  inline-size: var(--container-width, clamp(375px, 48.61vw, 700px));
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 53px;
  margin-inline: auto;
  inline-size: var(--container-width, clamp(375px, 48.61vw, 700px));
}

.post {
  border: 2px solid var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
}

.post__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title, 715);
}

.post__cover {
  position: relative;
  border-block: 2px solid var(--themes-main-color, #000);
}

.post__cover__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.image_brightness {
  filter: brightness(130%);
}

.image_contrast {
  filter: contrast(150%);
}

.image_blur {
  filter: blur(0.3rem);
}

.image_opacity {
  filter: opacity(0.8);
}

.image_grayscale {
  filter: grayscale(0.8);
}

.image_saturate {
  filter: saturate(158%);
}

.image_sepia {
  filter: sepia(80%);
}

.image_combinate {
  filter: contrast(200%) blur(0.15rem);
}

.post__cover-label {
  position: absolute;
  opacity: 0.5;
  color: var(--themes-main-color, #000);
  font-family: var(--font-accent, "Press Start 2P", fantasy);
  font-size: 14px;
  text-shadow:
    1px 0 0 var(--themes-background, #fff),
    -1px 0 0 var(--themes-background, #fff),
    0 1px 0 var(--themes-background, #fff),
    0 -1px 0 var(--themes-background, #fff);
  inset-block-start: 25px;
  inset-inline-end: 25px;
}

@supports (
  (
      (text-stroke: 1px var(--themes-background, #fff)) or
        (-webkit-text-stroke: 1px var(--themes-background, #fff))
    )
    and (mix-blend-mode: hard-light)
) {
  .post__cover-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--themes-background, #fff);
    text-stroke: 1px var(--themes-background, #fff);
    mix-blend-mode: hard-light;
  }
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 22px 25px;
  font-size: 18px;
  line-height: 1.1667;
  font-variation-settings: "wght" var(--font-weight-text, 410);
}

.post__buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__icon-button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: end;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  outline: 2px solid var(--themes-main-color, #000);
  outline-offset: -2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.card__icon-button:focus-visible::before {
  z-index: 0;
  opacity: 1;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--themes-main-color, #000);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--themes-main-color, #000);
  transition: width 0.5s ease-in-out;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 0%;
  block-size: 100%;
}

.button:hover::before {
  inline-size: 100%;
}

.button svg {
  transition: color 0.5s ease-in-out;
}

.button:hover svg {
  color: var(--themes-background, #fff);
}

.card__like-button {
  padding: 9px 17px;
  inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  color: var(--button-text-color, #fff);
  font-family: var(--font-accent, "Press Start 2P", fantasy);
  font-size: 14px;
  line-height: 0.9;
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover .button__text {
  color: var(--themes-background, #fff);
}

@supports (mix-blend-mode: difference) {
  .button svg {
    transition: none;
    mix-blend-mode: difference;
  }

  .button:hover svg {
    color: var(--button-text-color, #fff);
  }

  .button__text {
    mix-blend-mode: difference;
  }

  .button .button__text {
    transition: none;
  }

  .button:hover .button__text {
    color: var(--button-text-color, #fff);
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.floppy-button {
  gap: 8px;
  padding: 17px 20px;
}

.floppy-button svg {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.dialog[open] {
  border: 2px solid var(--themes-main-color, #000);
  padding: 30px;
  background: var(--themes-background, #fff);
  inline-size: calc(100vw * (355 / 1440));
  min-inline-size: 341px;
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-main-color, #000);
}

.dialog__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--font-accent, "Press Start 2P", fantasy);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-inline-start: 0;
  color: var(--themes-main-color, #000);
}

.dialog__container svg {
  transform: translateX(-4px);
}

.dialog__button {
  justify-content: center;
  align-items: center;
  padding: 9px 17px;
  inline-size: 100%;
  min-block-size: 38px;
}

@media (width <= 376px) {
  .header {
    margin-block-end: 102px;
  }

  .post__content {
    padding: 23px 25px;
  }

  .floppy-button {
    flex-direction: column;
    padding: 15px 19px;
  }

  .floppy-button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
  }

  .dialog__container {
    gap: 15px;
  }
}
