/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-accent: "Press Start 2P", fantasy;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --page-bg:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(375px, 48.61vw, 700px);
  --themes-main-color: #000;
  --themes-background: #fff;
  --button-text-color: #fff;
  --animation-color: #ff0000;
}
